<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
        {{!-- navbar --}}
                    <nav class="navbar navbar-expand-lg py-3 mx-auto">
                    <a class="navbar-brand ml-5" href="/">COVID-19</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto mr-4">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#symptoms">Symptoms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Prevention</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                        </ul>
                    </div>
                    </nav>
{{!-- 
    <div class="div_1">
        <div class="div_1_left">
            <img src="images/u1.png" alt="image">
        </div>
        <div class="div_1_right">
            <h1>
                Let's Stay Safe & Fight Together Against Cor<span></span><img src="images/c1.png" alt="image"></span>na Virus
            </h1>
        </div>
    </div> --}}
    
    <div class="div_1 my-5">
        <div class="row mx-auto">
            <div class="col-md-5 col-12 order-lg-1 order-2">
                <div class="div_1_left">
                <img src="images/u1.png" alt="image">
                </div> 
           </div>
            <div class="col-md-7 col-12 order-lg-2 order-1 d-flex">  
                <div class="div_1_right">
                <h1>
                Let's Stay Safe & Fight Together Against Cor<span></span><img src="images/c1.png" alt="image"></span>na Virus
                </h1>
                </div>
            </div>
 
        </div>
    </div>

{{!-- tracker --}}
    <div class="container div_2 text-center mb-5">
        <h1> COVID-19 UPDATES </h1>
        {{!-- <hr class="w-30 mx-auto"> --}}
    </div>

    <div class="div_3">
        <div class="div_3_1" >
            <h1 id="a"></h1>
            <p>total confirmed cases</p>
        </div>
        <div class="div_3_2">
            <h1 id="b"></h1>
            <p>new confirmed cases</p>
        </div>
        <div class="div_3_3">
            <h1 id="c"></h1>
            <p>new deaths</p>
        </div>
        <div class="div_3_4">
            <h1 id="d"></h1>
            <p>new recovered</p>
        </div>
    </div>
{{!-- about  --}}
        <div class="container-fluid" id="about">
            <div class="row">
                <div class="col-md-12 col-12 mx-auto ">
                    <div class="row">
                        <div class="col-md-10 col-10 text-center mx-auto mt-5">
                            <h1>About Covid-19</h1>
                            <hr class="w-25 mx-auto">
                        </div>
                    </div>
                    <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-10 col-12 mx-auto my-5 d-flex">
                            <div class="row">
                            <div class="col-md-6 col-12 align-items-center d-flex">
                                <img class="cor_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/3D_medical_animation_coronavirus_structure.jpg/1024px-3D_medical_animation_coronavirus_structure.jpg" alt="">
                            </div>
                            {{!-- <div class="row"> --}}
                            <div class="col-md-6 md-12">
                                <h3>What is Corona Virus (COVID-19)</h3>
                                <p>Coronaviruses are a group of related RNA viruses that cause diseases in mammals and birds. 
                                    In humans and birds, they cause respiratory tract infections that can range from mild to lethal.
                                     Mild illnesses in humans include some cases of the common cold (which is also caused by other
                                      viruses, predominantly rhinoviruses), while more lethal varieties can cause SARS, MERS, and 
                                      COVID-19.</p>
                                      <p>
                                          Coronaviruses are large, roughly spherical particles with unique surface projections.
                                          Their size is highly variable and generally is an average diameter of 120 nm. 
                                          Extreme sizes are known from 50 to 200 nm in diameter. 
                                          The total molecular weight is on average 40,000 kDa. They are enclosed in an envelope embedded with a 
                                          number of protein molecules. The lipid bilayer envelope, membrane proteins,
                                           and nucleocapsid protect the virus when it is outside the host cell.
                                      </p>
                            {{!-- </div> --}}
                            </div>
                            </div>
                        </div>
                    </div>
                </div></div>
            </div>
        </div>

{{!-- symptoms  --}}


            <div class="container-fluid" id="symptoms">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="row">
                            <div class="col-md-12 col-12 text-center mt-5">
                                <h1>SYMPTOMS</h1>
                                <hr class="w-25 mx-auto">
                            </div>
                        </div>
                            <div class="row text-center">
                                <div class="col-md-4 col-12">
                                    <img src="images/c2.jpg" alt="image">
                                </div>
                                <div class="col-md-4 col-12">
                                    <img src="images/c3.jpg" alt="image">
                                </div>
                                <div class="col-md-4 col-12">
                                    <img src="images/c4.jpg" alt="image">
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-4 col-12">
                                    <img src="images/c5.jpg" alt="image">
                                </div>
                                <div class="col-md-4 col-12">
                                    <img src="images/c6.jpg" alt="image">
                                </div>
                                <div class="col-md-4 col-12">
                                    <img src="images/c7.jpg" alt="image">
                                </div>
                            </div>
                    </div>
                </div>
            </div>

{{!-- prevention  --}}
<div class="prev">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 text-center mt-5 mb-5" >
            <h1>PREVENTIONS</h1>
            <hr class="w-25 mx-auto">
        </div>
    </div>
</div>

    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="images/p1.jpg" class="img-fluid" alt="image" width="90" height="90">
                        </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>Wash your hands regularly for 20sec with soap
                            and water or alcohol based hand sanitizer
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-12">
                <div class="row mb-5">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="images/p2.jpg" class="img-fluid" alt="image" width="90" height="90">
                        </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>Avoid close contact to unwell people </p>
                    </div>
                </div>        
            </div>
            
            <div class="col-lg-4 col-md-4 col-12">
                <div class="row mb-5">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="images/p3.jpg" class="img-fluid" alt="image" width="90" height="90">
                        </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>Use alcohol based hand sanitizer
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-12">
                <div class="row mb-5">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="images/p4.jpg" class="img-fluid" alt="image" width="90" height="90">
                        </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>Wear gloves</p>
                    </div>
                </div>    
            </div>
            
            <div class="col-lg-4 col-md-4 col-12">
                <div class="row mb-5">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="images/p5.jpg" class="img-fluid" alt="image" width="90" height="90">
                        </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>Cover face while driving</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-12">
                <div class="row mb-5">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="images/p6.jpg" class="img-fluid" alt="image" width="90" height="90">
                        </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>Cover mouth and nose on work place or outdoor</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{!-- contact  --}}

<div class="container" id="contact">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-12 col-12 my-5 text-center">
                    <h1>Contact Us</h1>
                    <hr class="w-25 mx-auto">
                </div>
            </div>
            <div class="row">

        <div class="col-md-8 col-10 mx-auto">
            <form action="/contact" method="POST">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="number" class="form-control" name="phone" placeholder="Enter Phone Number">
            </div>
            {{!-- <div class="form-group"></div> --}}
            <label>Select Symptoms</label><br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="coronaSym" type="checkbox" id="inlineCheckbox1" value="cold">
                <label class="form-check-label" for="inlineCheckbox1">Cold</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" name="coronaSym" type="checkbox" id="inlineCheckbox2" value="fever">
                <label class="form-check-label" for="inlineCheckbox2">Fever</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" name="coronaSym" type="checkbox" id="inlineCheckbox3" value="breathing">
                <label class="form-check-label" for="inlineCheckbox3">Dificulty in Breathing</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" name="coronaSym" type="checkbox" id="inlineCheckbox2" value="Weakness">
                <label class="form-check-label" for="inlineCheckbox2">Feeling Weak</label>
                </div>
                {{!-- </div> --}}
                <div class="form-group"><br>
                <label>Describe How Are You Feeling</label>
                <textarea type="text" name="msg"  class="form-control" ></textarea>
            </div><br><br>
            <button type="submit" name="submit" id="sub_btn" class="btn btn-primary">Submit</button>
            </form>
            
            </div>
        </div>
        </div>
    </div>
</div>

{{!-- footer  --}}

<footer class="mt-5 text-center">
    © Copyrights Reserved
</footer>

<script src="js/main.js">
    
</script>


</body>
</html>